build/
/msvcproject/.vs/stdx/v15
/msvcproject/Debug
/msvcproject/Release
/msvcproject/*.sdf
/msvcproject/testing/test_ini/Debug
/msvcproject/testing/test_tcp/Debug
/msvcproject/testing/test_tcp_listener/Debug/test_tcp.3A6B146A.tlog
/msvcproject/testing/test_tcp_listener/Debug
/msvcproject/testing/test_tcp_listener/Release
/msvcproject/testing/test_thread/Debug
/msvcproject/testing/test_timer/Debug
/msvcproject/enc_temp_folder/22177e5d33603172c1cef6b75e7a43d0
/msvcproject/testing/test_ini/Release
/msvcproject/testing/test_log/Debug
/msvcproject/testing/test_log/x64/Debug/test_log.Build.CppClean.log
/msvcproject/testing/test_log/x64/Debug
/msvcproject/testing/test_thread/Release
/msvcproject/testing/test_timer/Release
/msvcproject/x64/Debug/*.pdb
